<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358734369125-mit4prl2l33b45ng67hnd6ju66lfoa2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358734369125-mit4prl2l33b45ng67hnd6ju66lfoa2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358734369125-gi74mfvu4r07f37nbu3fcco6tsttoqml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARA_WD0tdO-Sr_Gw2e-71BuDPNxiCJKJs</string>
	<key>GCM_SENDER_ID</key>
	<string>358734369125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-220b0</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-220b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358734369125:ios:7bf07a07609aab2c9e118c</string>
</dict>
</plist>